/* common styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.main-button{
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: none;
    color: white;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}
/* header area styles */
header{
    background: rgba(229, 84, 115, 0.10);
}
.banner{
    max-width: 1440px;
    display: flex;
    height: 800px;
    margin: auto;
    align-items: center;
}
.banner-title{
    margin-bottom: 32px;
    color: #272727;
    font-size: 80px;
    font-weight: 700;
}
.banner-desc{
    margin-bottom: 32px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 50%;
}

/* featured section styles */
.featured-flowers-section{
    margin-top: 170px;
}
.featured-text{
    text-align: center;
}
.featured-title{
    color: #272727;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}
.featured-desc{
    margin-bottom: 48px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.featured-flowers{
    max-width: 1440px;
    margin: 0 auto;
}

.flower-boxes{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.flower-boxes img{
    object-fit: contain;
}
.flower1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 50px ;
}
.flower2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 50px ;
}
.flower3{
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
    padding: 50px;
}

.flower-names{
    text-align: center;
    max-width: 1440px;
    display: flex;
    gap: 80px;
    justify-content: space-around;
    margin: auto;
    align-items: center;
}
.flower-name{    
    margin-top: 32px;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}

/* support section styles */
.support-section{
    margin-top: 130px;
}
.support-container{
    display: flex;
    max-width: 1440px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    min-height: 320px;
}
.support-content{
    text-align: center;
   
}
.support-content p{
    color: rgba(39, 39, 39, 0.80); 
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    margin-top: 10px;
}


/* hot deals section styles */
.hot-deals-section{
    background: rgba(229, 84, 115, 0.05);
    margin-top: 130px;
}
.hot-deals-container{
    max-width: 1050px;
    display: flex;
    margin: auto;
    gap: 186px;
    align-items: center;
    height: 70vh;
}
.hot-deal-content{
    text-align: center;
}
.hot-deal-title{
    color: #272727;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}
.colored-text{
    color: #E55473;
}
.hot-deal-desc{
    margin-bottom: 32px;
    line-height: 30px;
}


/* instagram section styles */
.instagram-section{
    margin-top: 130px;
}
.instagram-images{
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
    gap: 24px;
}
.insta-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}
.insta-desc{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}


/* extra new arrival section styles */
.new-arrival-section{
    margin-top: 130px;
}
.arrival-title{
    text-align: center;
    color: #272727;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 48px;
    
}

.new-arrival-heading{
    display: flex;
    justify-content: center;
    gap: 100px;
    font-size: 18px;
    margin-bottom: 30px;
}
.new-arrival-images {
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
    gap: 24px;
    justify-content: space-around;

}

.new-arrival-images img{
    width: 342px;
    border-radius: 20px;
}
.image-desc{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 20px;
}


/* subscribe section styles */
.subscribe-section{
    margin-top: 130px;
}
.subscribe-area{
    max-width: 1440px;
    background-image: url('asset/Rectangle\ 9.png');
    height: 450px;
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}
.subscribe-desc{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
    
}
.subscribe-form-container{
    display: flex;
    gap: 16px;
    margin: auto;
}
.subscribe-form{
    padding: 20px 510px 22px 22px;
    border: none;
    border-radius: 8px;
}
.subscribe-form::placeholder {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-weight: 400;
  }

  /* footer styles */
  footer{
    background: #111010;
    margin-top: 130px;
  }
  .footer-area{
    text-align: center;
    padding: 128px 650px;
  }
  .footer-title{
    color:white;
    font-size: 48px;
    font-weight: 700;
  }
  .footer-desc{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
  }
  .footer-copyright{
    margin-top: 32px;
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
  }